body
{
	border: 1px solid black;
	font-size: 16px;
	margin: 0 auto;
	max-width: 1078px; /*El diseñador lo quizo*/
}

header
{
	border: 1px solid blue;	
}

header input
{
	float: right;
	margin-right: -22%;
	position: relative;
}

header nav
{
	margin-left: 220px;	
}

header nav ul li
{
	border-bottom: 1px solid gray;
	color: rgba(150,150,150,1);
	display: inline-block;
	font-size: 1.8em;
	text-align: center;
	margin-right: 15px;
}

#bgoffer
{
	left: 20%;
	/*left,top,bottom,right*/
	position: absolute;
	top: 150px;
}

#granthams
{
	margin-left: 25px;
	margin-top: 20px;
}

#paint
{
	float: right;
	margin-top: 20px;
}

#primerSeccion
{
	margin-top: 70px;
}

#primerSeccion article
{
	border: 1px solid red;
	display: inline-block;
	margin-left: 25px;
	vertical-align: top;
}

#secc01art01
{
	width: 60%;
}

#secc01art02
{
	width: 30%;
}

#segundaSeccion article
{
	text-align: right;
}

#terceraSeccion article img
{
	vertical-align: middle;
}
.numerotelefono
{
	color: #D54286;
	font-size: 2.5em;
	font-weight: bold;
	margin-right: 124px;
}
.wecanoffer
{
	color: #D54286;
	font-size: 3.5em;
	font-weight: bold;
}